NEXT_PUBLIC_APP_MODE=coming-soon
NEXT_PUBLIC_REGISTRATION_OPEN=3
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_BASE_URL_ADMIN=
NEXT_PUBLIC_TOSS_CLIENT_KEY=
NEXT_PUBLIC_KAKAO_MAP_KEY=
NEXT_PUBLIC_BGM=off
GOOGLE_SITE_VERIFICATION=
NAVER_SITE_VERIFICATION=
GA_MEASUREMENT_ID=
NAVER_ANALYTICS_ID=
