NEXT_PUBLIC_APP_MODE=coming-soon
# NEXT_PUBLIC_REGISTER_PREVIEW=1
# NEXT_PUBLIC_KAKAO_MAP_KEY=
# NEXT_PUBLIC_API_BASE_URL_ADMIN=http://localhost:8080
# GOOGLE_SITE_VERIFICATION=
# NAVER_SITE_VERIFICATION=
# GA_MEASUREMENT_ID=
# NAVER_ANALYTICS_ID=
